In [1]:
#data types
int_num= 8
print(type(int_num))

<class 'int'>

In [2]:
#floating
euler= 2.781
print(type(euler))

<class 'float'>

In [4]:
my_str= "hello world"
print(type(my_str))

<class 'str'>

In [6]:
num_1=25
num_2= int('3')
print(num_1+ num_2)

28

In [7]:
num_1=25
num_2= '3'
print(num_1+ int(num_2))

28

In [8]:
#booleans
'TAA' == 'ATG' #Stop codn vs methionine

False

In [9]:
print(type('TAA' == 'ATG')) #Stop codn vs methionine

<class 'bool'>

In [10]:
'TAA' != 'ATG'

True

In [11]:
#define codn
serine='AGU'
serine=='CGC' and serine == "AGU"

False

In [12]:
serine=='CGC' or serine == "AGU"

True

In [13]:
serine=='CGC' and serine == "AGU" and serine=='CCA'

False

In [14]:
(serine=='CGC' and serine == "AGU") and serine=='CCA'

False

In [15]:
[1,2,3]== [3]

False

In [18]:
import numpy as np
np.array([1,2,3]) == [3]

array([False, False,  True])

In [20]:
print(4%2)

0

In [21]:
year= 2020
print(2020%4)

0

In [22]:
print (2020/100)

20.2

In [23]:
print(2020/400)

5.05

In [24]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [25]:
my_pi = str(3.1415)
print(type(my_pi))

<class 'str'>

In [26]:
numerature = 5
denominator = 2
print (type(numerature))
print (type(denominator))
answer=

<class 'int'>
<class 'int'>

In [27]:
# data structure

In [28]:
list_primes= [2, 3, 4, 7, 11]
print(type(list_primes))

<class 'list'>

In [29]:
list_primes= [31, 37, 41]
print(list_primes)

[31, 37, 41]

In [34]:
mixed_list = [1, 2, 3, 4,['five', 'six']]
print(mixed_list)
mixed_list[4][0][0]

[1, 2, 3, 4, ['five', 'six']]

'f'