**Title** : Calculation of heat susceptibility index to measure the high night temperature tolerance in winter canola

This project aims to write the python codes to calculate heat susceptibility indices (HSI) for yield and seed quality traits in response to high night temperature (HNT) in winter canola. HSI is widely used to classify large number of genotypes in to tolerent and susceptible genotypes under heat stress environments. 
HSI is calculated using the following formula as by Fisher and Maurer (1978).

$$HSI = \frac{1-\frac{YD}{YP}}{D}$$

 HSI= Heat susceptibility index
 
 YD = mean of the trait for each genotype under HNT stress
 
 YP = mean of the trait for each genotype under control
 
 D = 1- [mean YD of all genotypes under HNT/mean YP of all genotypes under Control]

In [66]:
# Import modules
import pandas as pd
import numpy as np

In [97]:
# Importing data
# working with uploaded data files by making datasets folder in the repository 
df_TSW_Ex1 = pd.read_csv('datasets/HNT_TSW_Data_Ex1.csv')
df_TSW_Ex1.head(3)

       geno      trt  rep    TSW
0  Mercedes  Control    1  33.00
1  Mercedes  Control    2  34.55
2  Mercedes  Control    3  27.77

In the above dataframe,

'geno' represents genotypes of winter canola.

'trt' represents treatments used in the experiments.
* Control (23/15°C: day/night) and HNT (23/20°C: day/night) are the two trearments.

'rep' represents the replications within the treatments.

'TSW' represents total seed weight per plant (g).

In [98]:
# Handling with missing values
df_TSW_Ex1.isna().sum()

# filling NaNs with immediate front values
df_TSW_Ex1 = df_HNT_TSW_Ex1.fillna(method='pad')

In [99]:
# Calculating the mean of control and HNT treatments for each genotype
df_TSW_Ex1.groupby(['geno','trt'])['TSW'].agg(['mean']).round(2)

                      mean
geno        trt
46W94       Control  27.69
            HNT      29.06
DKW44-10    Control  19.18
            HNT      13.80
DKW46-15    Control  22.99
            HNT      16.91
Edimax CL   Control  33.22
            HNT      29.22
Hekip       Control  23.18
            HNT      19.35
HyCLASS225W Control  31.77
            HNT      17.41
Mercedes    Control  31.77
            HNT      28.74
Popular     Control  31.61
            HNT      28.35
Riley       Control  24.15
            HNT      19.94
Wichita     Control  18.97
            HNT      14.18

In [65]:
result_mean_YP = df_HNT_TSW_Ex1[['TSW']].iloc[[0,1,2]].mean(axis=0)
result_mean_YD = df_HNT_TSW_Ex1[['TSW']].iloc[[3,4,5]].mean(axis=0)
print(result_mean_YP)
print(result_mean_YD)

TSW    31.773333
dtype: float64
TSW    28.743333
dtype: float64