# Name: Meghnath Pokharel
# Semester: Spring 2020
# Project Area: Agronomy

In [36]:
# Import modules
import pandas as pd
import numpy as np

In [43]:
# Importing data
#Two ways of working with data files

#1 working with data directly from the web 
#dirname = 'https://raw.githubusercontent.com/pokharelmeg/Semester-Project/master/datasets/'
#filename = 'HNT_Yield_Data_Ex1.csv'
#df= pd.read_csv(dirname + filename)

#2 working with uploaded data file by making datasets folder in the repository 
df_HNT_Ex1 = pd.read_csv('datasets/HNT_Yield_Data_Ex1.csv')
print(df_HNT_Ex1.head(6))
print(type(df_HNT_Ex1))

       geno      trt  rep     BM  TPN    TPW    TSW          OC
0  Mercedes  Control    1  24.95  490  56.47     33  46.36363636
1  Mercedes  Control    2  25.51  583  64.27  34.55  43.15120712
2  Mercedes  Control    3  33.56  455  47.78  27.77  42.91187739
3  Mercedes      HNT    1   26.9  471  54.32  30.85   44.7715736
4  Mercedes      HNT    2  26.61  462  47.31  25.73   41.7115629
5  Mercedes      HNT    3   31.1  502  52.07  29.65  41.07692308
<class 'pandas.core.frame.DataFrame'>

In [44]:
# Handling with missing values
#df.isna().sum() # to check the missing values in the dataframe
missing_values = ["m"]
df_HNT_Ex1 = pd.read_csv('datasets/HNT_Yield_Data_Ex1.csv', na_values = missing_values)
print(df_HNT_Ex1.tail(5))
print(type(df_HNT_Ex1))

     geno      trt  rep     BM    TPN    TPW    TSW        OC
55  Hekip  Control    2  36.69  406.0  48.24  26.14  41.698842
56  Hekip  Control    3  33.76    NaN    NaN    NaN        NaN
57  Hekip      HNT    1  26.60  417.0  26.49  12.80  38.461538
58  Hekip      HNT    2  27.96  414.0  39.98  22.63  33.974026
59  Hekip      HNT    3  23.22    NaN    NaN    NaN  34.330709
<class 'pandas.core.frame.DataFrame'>

In [52]:
# Calculate means of each genotypes in each treatment 
df_HNT_Ex1_means = df_HNT_Ex1.groupby(["geno", "trt"]).mean()
df_HNT_Ex1_means

                     rep         BM         TPN        TPW        TSW  \
geno        trt
46W94       Control    2  32.616667  494.333333  51.330000  27.690000
            HNT        2  33.220000  529.333333  55.680000  29.060000
DKW44-10    Control    2  32.450000  381.333333  38.200000  19.183333
            HNT        2  26.256667  299.000000  29.133333  13.800000
DKW46-15    Control    2  30.470000  495.333333  45.706667  22.990000
            HNT        2  23.590000  398.333333  31.743333  16.906667
Edimax CL   Control    2  31.363333  485.000000  59.553333  33.220000
            HNT        2  33.636667  475.333333  50.796667  29.216667
Hekip       Control    2  35.376667  398.500000  41.920000  21.695000
            HNT        2  25.926667  415.500000  33.235000  17.715000
HyCLASS225W Control    2  27.750000  524.666667  62.623333  31.766667
            HNT        2  26.290000  316.500000  35.440000  16.965000
Mercedes    Control    2  28.006667  509.333333  56.173333  31.773333
            HNT        2  28.203333  478.333333  51.233333  28.743333
Popular     Control    2  29.210000  462.000000  55.920000  31.613333
            HNT        2  28.306667  482.000000  51.336667  28.350000
Riley       Control    2  27.990000  415.333333  47.303333  24.146667
            HNT        2  27.136667  495.000000  43.270000  19.943333
Wichita     Control    2  29.246667  436.333333  44.753333  18.973333
            HNT        2  25.573333  370.500000  30.280000  14.670000

                           OC
geno        trt
46W94       Control  36.814659
            HNT      40.981270
DKW44-10    Control  35.225272
            HNT      31.798268
DKW46-15    Control  42.188102
            HNT      38.560138
Edimax CL   Control  42.233645
            HNT      40.603865
Hekip       Control  41.383772
            HNT      35.588758
HyCLASS225W Control  43.207846
            HNT      37.594336
Mercedes    Control  44.142240
            HNT      42.520020
Popular     Control  41.980758
            HNT      40.523971
Riley       Control  40.464702
            HNT      39.038619
Wichita     Control  36.891539
            HNT      37.266326