Name: Meghnath Pokharel

Semester: Spring 2020

Project Area: Agronomy

Title: Heat susceptibility index as a measure of High night temperature tolerance in winter canola

This project aims to write the python codes to calculate heat susceptibility indices (HSI) for yield and seed quality traits in response to high night temperature (HNT) in winter canola. HSI is widely used to classify large number of genotypes in to tolerent and susceptible genotypes under heat stress environments. 
HSI is calculated using the following formula as by Fisher and Maurer (1978).
HSI = [l-YD/YP]/D

Where, YD represents mean of the genotypes in HNT stress, YP represents mean of the genotypes under control.
D represents 1- [mean YD of all genotypes/mean YP of all genotypes].

In [66]:
# Import modules
import pandas as pd
import numpy as np

In [67]:
# Importing data
# working with uploaded data files by making datasets folder in the repository 
df_HNT_TSW_Ex1 = pd.read_csv('datasets/HNT_TSW_Data_Ex1.csv')
df_HNT_TSW_Ex1.head(6)

       geno      trt  rep    TSW
0  Mercedes  Control    1  33.00
1  Mercedes  Control    2  34.55
2  Mercedes  Control    3  27.77
3  Mercedes      HNT    1  30.85
4  Mercedes      HNT    2  25.73
5  Mercedes      HNT    3  29.65

In the above dataframe, 'geno', 'trt', 'rep' and 'TSW' represent genotypes of winter canola, treatments, replications and total seed weight per plant respectively. In the first experiment, 10 genotypes of canola were tested in two treatments (Control and HNT) with three replications in each treatment.

In [69]:
# Handling with missing values
df_HNT_TSW_Ex1.isna().sum()

# filling NaNs with immediate front values
df_HNT_TSW_Ex1 = df_HNT_TSW_Ex1.fillna(method='pad')

In [92]:
# Calculating the mean of control and HNT treatments for each genotype
df_HNT_TSW_Ex1.groupby(['geno','trt'])['TSW'].agg(['mean']).round(2)

                      mean
geno        trt
46W94       Control  27.69
            HNT      29.06
DKW44-10    Control  19.18
            HNT      13.80
DKW46-15    Control  22.99
            HNT      16.91
Edimax CL   Control  33.22
            HNT      29.22
Hekip       Control  23.18
            HNT      19.35
HyCLASS225W Control  31.77
            HNT      17.41
Mercedes    Control  31.77
            HNT      28.74
Popular     Control  31.61
            HNT      28.35
Riley       Control  24.15
            HNT      19.94
Wichita     Control  18.97
            HNT      14.18

In [91]:
def map_function(x):
    if x == "HNT":
        return df_HNT_TSW_Ex1[['TSW']].iloc[[0,1,2]].mean(axis=0)
    else:
        return df_HNT_TSW_Ex1[['TSW']].iloc[[3,4,5]].mean(axis=0)

df_HNT_TSW_Ex1['new_table'] = print(df_HNT_TSW_Ex1.trt.apply(map_function))
df_HNT_TSW_Ex1.new_table.unique()

          TSW
0   28.743333
1   28.743333
2   28.743333
3   31.773333
4   31.773333
5   31.773333
6   28.743333
7   28.743333
8   28.743333
9   31.773333
10  31.773333
11  31.773333
12  28.743333
13  28.743333
14  28.743333
15  31.773333
16  31.773333
17  31.773333
18  28.743333
19  28.743333
20  28.743333
21  31.773333
22  31.773333
23  31.773333
24  28.743333
25  28.743333
26  28.743333
27  31.773333
28  31.773333
29  31.773333
30  28.743333
31  28.743333
32  28.743333
33  31.773333
34  31.773333
35  31.773333
36  28.743333
37  28.743333
38  28.743333
39  31.773333
40  31.773333
41  31.773333
42  28.743333
43  28.743333
44  28.743333
45  31.773333
46  31.773333
47  31.773333
48  28.743333
49  28.743333
50  28.743333
51  31.773333
52  31.773333
53  31.773333
54  28.743333
55  28.743333
56  28.743333
57  31.773333
58  31.773333
59  31.773333

array([None], dtype=object)

In [63]:
# Calculate means of each genotypes in each treatment 
df_HNT_TSW_Ex1_means = df_HNT_TSW_Ex1.groupby(["geno", "trt"]).mean()
print(df_HNT_TSW_Ex1_means)

                     rep        TSW
geno        trt
46W94       Control    2  27.690000
            HNT        2  29.060000
DKW44-10    Control    2  19.183333
            HNT        2  13.800000
DKW46-15    Control    2  22.990000
            HNT        2  16.906667
Edimax CL   Control    2  33.220000
            HNT        2  29.216667
Hekip       Control    2  23.176667
            HNT        2  19.353333
HyCLASS225W Control    2  31.766667
            HNT        2  17.410000
Mercedes    Control    2  31.773333
            HNT        2  28.743333
Popular     Control    2  31.613333
            HNT        2  28.350000
Riley       Control    2  24.146667
            HNT        2  19.943333
Wichita     Control    2  18.973333
            HNT        2  14.183333

In [65]:
result_mean_YP = df_HNT_TSW_Ex1[['TSW']].iloc[[0,1,2]].mean(axis=0)
result_mean_YD = df_HNT_TSW_Ex1[['TSW']].iloc[[3,4,5]].mean(axis=0)
print(result_mean_YP)
print(result_mean_YD)

TSW    31.773333
dtype: float64
TSW    28.743333
dtype: float64