Name: Meghnath Pokharel

Semester: Spring 2020

Project Area: Agronomy

Title: Heat susceptibility index as a measure of High night temperature tolerance in winter canola

This project aims to write the python codes to calculate heat susceptibility indices (HSI) for yield and seed quality traits in response to high night temperature (HNT) in winter canola. HSI is widely used to classify large number of genotypes in to tolerent and susceptible genotypes under heat stress environments. 
HSI is calculated using the following formula as by Fisher and Maurer (1978).
HSI = [l-YD/YP]/D

Where, YD represents mean of the genotypes in HNT stress, YP represents mean of the genotypes under control.
D represents 1- [mean YD of all genotypes/mean YP of all genotypes].

In [ ]:
# Inputs

In [66]:
# Import modules
import pandas as pd
import numpy as np

In [67]:
# Importing data
# working with uploaded data files by making datasets folder in the repository 
df_HNT_TSW_Ex1 = pd.read_csv('datasets/HNT_TSW_Data_Ex1.csv')
df_HNT_TSW_Ex1.head(6)

       geno      trt  rep    TSW
0  Mercedes  Control    1  33.00
1  Mercedes  Control    2  34.55
2  Mercedes  Control    3  27.77
3  Mercedes      HNT    1  30.85
4  Mercedes      HNT    2  25.73
5  Mercedes      HNT    3  29.65

In the above dataframe, 'geno', 'trt', 'rep' and 'TSW' represent genotypes of winter canola, treatments, replications and total seed weight per plant respectively. In the first experiment, 10 genotypes of canola were tested in two treatments (Control and HNT) with three replications in each treatment.

In [61]:
# Handling with missing values
df_HNT_TSW_Ex1.isna().sum()

# filling NaNs with immediate front values
df_HNT_TSW_Ex1 = df_HNT_TSW_Ex1.fillna(method='pad')

In [63]:
# Calculate means of each genotypes in each treatment 
df_HNT_TSW_Ex1_means = df_HNT_TSW_Ex1.groupby(["geno", "trt"]).mean()
print(df_HNT_TSW_Ex1_means)

                     rep        TSW
geno        trt
46W94       Control    2  27.690000
            HNT        2  29.060000
DKW44-10    Control    2  19.183333
            HNT        2  13.800000
DKW46-15    Control    2  22.990000
            HNT        2  16.906667
Edimax CL   Control    2  33.220000
            HNT        2  29.216667
Hekip       Control    2  23.176667
            HNT        2  19.353333
HyCLASS225W Control    2  31.766667
            HNT        2  17.410000
Mercedes    Control    2  31.773333
            HNT        2  28.743333
Popular     Control    2  31.613333
            HNT        2  28.350000
Riley       Control    2  24.146667
            HNT        2  19.943333
Wichita     Control    2  18.973333
            HNT        2  14.183333

In [65]:
result_mean_YP = df_HNT_TSW_Ex1[['TSW']].iloc[[0,1,2]].mean(axis=0)
result_mean_YD = df_HNT_TSW_Ex1[['TSW']].iloc[[3,4,5]].mean(axis=0)
print(result_mean_YP)
print(result_mean_YD)

TSW    31.773333
dtype: float64
TSW    28.743333
dtype: float64