# Name: Meghnath Pokharel
# Semester: Spring 2020
# Project Area: Agronomy

In [1]:
# Import modules
import pandas as pd
import numpy as np

In [9]:
# Importing data
#Two ways of working with data files

#1 working with data directly from the web 
#dirname = 'https://raw.githubusercontent.com/pokharelmeg/Semester-Project/master/datasets/'
#filename = 'HNT_Yield_Data_Ex1.csv'
#df= pd.read_csv(dirname + filename)

#2 working with uploaded data file by making datasets folder in the repository 
df = pd.read_csv('datasets/HNT_Yield_Data_Ex1.csv')
df.head()
#print(type(df)

       geno      trt  rep     BM  TPN    TPW    TSW          OC
0  Mercedes  Control    1  24.95  490  56.47     33  46.36363636
1  Mercedes  Control    2  25.51  583  64.27  34.55  43.15120712
2  Mercedes  Control    3  33.56  455  47.78  27.77  42.91187739
3  Mercedes      HNT    1   26.9  471  54.32  30.85   44.7715736
4  Mercedes      HNT    2  26.61  462  47.31  25.73   41.7115629

In [26]:
# Handling with missing values
#df.isna().sum() # to check the missing values in the dataframe
missing_values = ["m"]
df = pd.read_csv('datasets/HNT_Yield_Data_Ex1.csv', na_values = missing_values)
print(df.tail(5))
print(type(df))

     geno      trt  rep     BM    TPN    TPW    TSW        OC
55  Hekip  Control    2  36.69  406.0  48.24  26.14  41.698842
56  Hekip  Control    3  33.76    NaN    NaN    NaN        NaN
57  Hekip      HNT    1  26.60  417.0  26.49  12.80  38.461538
58  Hekip      HNT    2  27.96  414.0  39.98  22.63  33.974026
59  Hekip      HNT    3  23.22    NaN    NaN    NaN  34.330709
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Calculations