In [5]:
import pandas as pd
import numpy as np
import glob

In [6]:
print(glob.os.getcwd())

C:\Users\mns_p\Desktop\Semester-Project

In [10]:
glob.os.chdir('datasets/')

In [11]:
print(glob.os.getcwd())

C:\Users\mns_p\Desktop\Semester-Project\Semester-Project\datasets

In [14]:
df = pd.read_csv('HNT_Yield_Data _Ex1.csv')
df.head()
#print(type(df))

       geno      trt  rep     BM  TPN    TPW    TSW          OC
0  Mercedes  Control    1  24.95  490  56.47     33  46.36363636
1  Mercedes  Control    2  25.51  583  64.27  34.55  43.15120712
2  Mercedes  Control    3  33.56  455  47.78  27.77  42.91187739
3  Mercedes      HNT    1   26.9  471  54.32  30.85   44.7715736
4  Mercedes      HNT    2  26.61  462  47.31  25.73   41.7115629