# Name: Meghnath Pokharel
# Semester: Spring 2020
# Project Area: Agronomy

In [1]:
# Import modules
import pandas as pd
import numpy as np

In [2]:
# Importing data
#Two ways of working with data files

#1 working with data directly from the web 
#dirname = 'https://raw.githubusercontent.com/pokharelmeg/Semester-Project/master/datasets/'
#filename = 'HNT_Yield_Data_Ex1.csv'
#df= pd.read_csv(dirname + filename)

#2 working with uploaded data file by making datasets folder in the repository 
df_HNT_Ex1 = pd.read_csv('datasets/HNT_Yield_Data_Ex1.csv')
print(df_HNT_Ex1.head(6))
print(type(df_HNT_Ex1))

       geno      trt  rep     BM  TPN    TPW    TSW          OC
0  Mercedes  Control    1  24.95  490  56.47     33  46.36363636
1  Mercedes  Control    2  25.51  583  64.27  34.55  43.15120712
2  Mercedes  Control    3  33.56  455  47.78  27.77  42.91187739
3  Mercedes      HNT    1   26.9  471  54.32  30.85   44.7715736
4  Mercedes      HNT    2  26.61  462  47.31  25.73   41.7115629
5  Mercedes      HNT    3   31.1  502  52.07  29.65  41.07692308
<class 'pandas.core.frame.DataFrame'>

In [3]:
# Handling with missing values
#df.isna().sum() # to check the missing values in the dataframe
missing_values = ["m"]
df_HNT_Ex1 = pd.read_csv('datasets/HNT_Yield_Data_Ex1.csv', na_values = missing_values)
print(df_HNT_Ex1.tail(5))
print(type(df_HNT_Ex1))

     geno      trt  rep     BM    TPN    TPW    TSW        OC
55  Hekip  Control    2  36.69  406.0  48.24  26.14  41.698842
56  Hekip  Control    3  33.76    NaN    NaN    NaN        NaN
57  Hekip      HNT    1  26.60  417.0  26.49  12.80  38.461538
58  Hekip      HNT    2  27.96  414.0  39.98  22.63  33.974026
59  Hekip      HNT    3  23.22    NaN    NaN    NaN  34.330709
<class 'pandas.core.frame.DataFrame'>

In [4]:
# dropping the "rep" column
df_HNT_Ex1 = df_HNT_Ex1.drop(["rep"], axis=1)
print(df_HNT_Ex1)

           geno      trt     BM    TPN    TPW    TSW        OC
0      Mercedes  Control  24.95  490.0  56.47  33.00  46.363636
1      Mercedes  Control  25.51  583.0  64.27  34.55  43.151207
2      Mercedes  Control  33.56  455.0  47.78  27.77  42.911877
3      Mercedes      HNT  26.90  471.0  54.32  30.85  44.771574
4      Mercedes      HNT  26.61  462.0  47.31  25.73  41.711563
5      Mercedes      HNT  31.10  502.0  52.07  29.65  41.076923
6     Edimax CL  Control  29.20  513.0  59.30  32.59  40.406250
7     Edimax CL  Control  31.09  467.0  52.37  30.61  42.605364
8     Edimax CL  Control  33.80  475.0  66.99  36.46  43.689320
9     Edimax CL      HNT  34.40  430.0  48.40  24.12  40.051151
10    Edimax CL      HNT  32.80  496.0  61.83  37.39  43.427110
11    Edimax CL      HNT  33.71  500.0  42.16  26.14  38.333333
12      Popular  Control  28.69  494.0  60.42  35.13  42.000000
13      Popular  Control  31.50  463.0  45.48  25.03  43.181818
14      Popular  Control  27.44  429.0  61.86  34.68  40.760456
15      Popular      HNT  29.20  442.0  46.97  26.11  38.284994
16      Popular      HNT  30.42  483.0  50.63  27.92  41.620253
17      Popular      HNT  25.30  521.0  56.41  31.02  41.666667
18        46W94  Control  26.64  500.0  49.70  26.89  38.560411
19        46W94  Control  34.24  459.0  49.64  27.43  38.523077
20        46W94  Control  36.97  524.0  54.65  28.75  33.360489
21        46W94      HNT  35.80  580.0  59.23  28.90  40.990874
22        46W94      HNT  29.55  468.0  48.06  25.70  41.645244
23        46W94      HNT  34.31  540.0  59.75  32.58  40.307692
24      Wichita  Control  26.50  435.0  40.50  16.92  36.581633
25      Wichita  Control  32.60  456.0  49.21  18.45  37.855362
26      Wichita  Control  28.64  418.0  44.55  21.55  36.237624
27      Wichita      HNT  26.74  319.0  34.04  16.13  39.090909
28      Wichita      HNT  25.60  422.0  26.52  13.21  37.085427
29      Wichita      HNT  24.38    NaN    NaN    NaN  35.622642
30        Riley  Control  26.00  383.0  54.10  27.48  41.129653
31        Riley  Control  30.00  460.0  48.03  22.51  39.799750
32        Riley  Control  27.97  403.0  39.78  22.45        NaN
33        Riley      HNT  29.41  484.0  46.84  21.51  39.740260
34        Riley      HNT  28.30  480.0  41.54  19.28  38.245161
35        Riley      HNT  23.70  521.0  41.43  19.04  39.130435
36     DKW44-10  Control  30.65  389.0  36.48  21.63  33.906250
37     DKW44-10  Control  30.90  380.0  39.91  17.41  35.025381
38     DKW44-10  Control  35.80  375.0  38.21  18.51  36.744186
39     DKW44-10      HNT  25.50  258.0  28.55  15.06  31.498079
40     DKW44-10      HNT  26.98  350.0  30.38  14.68  32.103896
41     DKW44-10      HNT  26.29  289.0  28.47  11.66  31.792829
42     DKW46-15  Control  28.60  486.0  45.87  25.21  40.155039
43     DKW46-15  Control  30.67  482.0  49.11  21.01  43.552124
44     DKW46-15  Control  32.14  518.0  42.14  22.75  42.857143
45     DKW46-15      HNT  22.20  367.0  37.21  19.57  38.307692
46     DKW46-15      HNT  23.77  512.0  33.24  17.88  39.534884
47     DKW46-15      HNT  24.80  316.0  24.78  13.27  37.837838
48  HyCLASS225W  Control  29.40  537.0  58.29  28.46  42.953692
49  HyCLASS225W  Control  26.10  525.0  62.13  30.73  42.191083
50  HyCLASS225W  Control    NaN  512.0  67.45  36.11  44.478764
51  HyCLASS225W      HNT  22.89  298.0  30.35  15.63  37.016435
52  HyCLASS225W      HNT  29.69  335.0  40.53  18.30  38.172236
53  HyCLASS225W      HNT    NaN    NaN    NaN    NaN        NaN
54        Hekip  Control  35.68  391.0  35.60  17.25  41.068702
55        Hekip  Control  36.69  406.0  48.24  26.14  41.698842
56        Hekip  Control  33.76    NaN    NaN    NaN        NaN
57        Hekip      HNT  26.60  417.0  26.49  12.80  38.461538
58        Hekip      HNT  27.96  414.0  39.98  22.63  33.974026
59        Hekip      HNT  23.22    NaN    NaN    NaN  34.330709

In [7]:
# Calculate means of each genotypes in each treatment 
df_HNT_Ex1_means = df_HNT_Ex1.groupby(["geno", "trt"]).mean()
df_HNT_Ex1_means
#df_HNT_Ex1_means.Transpose()

                            BM         TPN        TPW        TSW        OC
geno        trt
46W94       Control  32.616667  494.333333  51.330000  27.690000  36.814659
            HNT      33.220000  529.333333  55.680000  29.060000  40.981270
DKW44-10    Control  32.450000  381.333333  38.200000  19.183333  35.225272
            HNT      26.256667  299.000000  29.133333  13.800000  31.798268
DKW46-15    Control  30.470000  495.333333  45.706667  22.990000  42.188102
            HNT      23.590000  398.333333  31.743333  16.906667  38.560138
Edimax CL   Control  31.363333  485.000000  59.553333  33.220000  42.233645
            HNT      33.636667  475.333333  50.796667  29.216667  40.603865
Hekip       Control  35.376667  398.500000  41.920000  21.695000  41.383772
            HNT      25.926667  415.500000  33.235000  17.715000  35.588758
HyCLASS225W Control  27.750000  524.666667  62.623333  31.766667  43.207846
            HNT      26.290000  316.500000  35.440000  16.965000  37.594336
Mercedes    Control  28.006667  509.333333  56.173333  31.773333  44.142240
            HNT      28.203333  478.333333  51.233333  28.743333  42.520020
Popular     Control  29.210000  462.000000  55.920000  31.613333  41.980758
            HNT      28.306667  482.000000  51.336667  28.350000  40.523971
Riley       Control  27.990000  415.333333  47.303333  24.146667  40.464702
            HNT      27.136667  495.000000  43.270000  19.943333  39.038619
Wichita     Control  29.246667  436.333333  44.753333  18.973333  36.891539
            HNT      25.573333  370.500000  30.280000  14.670000  37.266326